<!--The content below is only a placeholder and can be replaced.-->

  <!--<h1>-->
    <!--Angular pipes let you declare display-value transformations in template HTML-->
    <!--{{Interpolated_value | pipe_name}}-->
    <!--There can be custom pipes using pipe decorator-->
    <!--Welcome to {{title | truncate}}-->
<!--</h1>
<h1>{{jsonValue | json}}</h1>
<h1>{{newDate | date:'medium'}}</h1>-->

<!--<button (click)="handleEvent()">Click Me</button>-->
<!--2-way data binding used in template-driven forms, combines property and event binding in a single notation.--> 
<!--way to get data from the user-->
<!--<input placeholder="hello" [(ngModel)]="title"/>-->

<input placeholder="user" [(ngModel)]="userObject.name"/>
<input placeholder="user" [(ngModel)]="userObject.age"/>
<input placeholder="user" [(ngModel)]="userObject.id"/>

<!--user object is handled here using userEvent property-->
<app-user [user]="userObject" (userEvent)="handleEvent($event)"></app-user>
